/* .nav-color { */
/* background-color: #FFF323; */
/* background-color: gold; */
/* background-color: #4b4f53 */
/* } */

/*NAVBAR*/
.navbar {
  width: 100%;
  height: 55px;
  line-height: 60px;
  background-image: linear-gradient(#efd345, #ffef82);
}

.nav-text {
  font-size: 35px;
  font-family: "Tangerine", cursive;
  text-shadow: 0.3px 0.3px darkslategray;
  color: black;
  padding-top: 15px;
  padding-left: 20px;
}

.home-icon {
  margin-top: 13px;
  margin-right: 20px;
  float: right;
}

/*SEARCH BOX*/
.background-image {
  background-image: url("https://i.imgur.com/1DzG66K.jpg");
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  font-size: 10px;
  font-family: "Hind Siliguri", sans-serif;
  /* filter: grayscale(30%); */
}

.searchbox-title {
  font-size: 50px;
  font-family: "Tangerine", cursive;
  color: white;
  text-shadow: 1.7px 1.7px darkslategray;
  margin: 10px;
}

.input {
  width: 450px;
  height: 35px;
  border-radius: 5px;
  font-family: "Hind Siliguri", sans-serif;
}

.search-button {
  width: 100px;
  height: 34.5px;
  border-radius: 5px;
  margin-left: 3px;
  font-family: "Hind Siliguri", sans-serif;
  background-color: darkslategray;
  color: white
}

/* ART DISPLAY AREA*/
.container {
  display: flex;
  width: 100%;
  flex-direction: row;
  gap: 5px;
}

.box-1 {
  flex: 2;
  margin-top: 10px;
  margin-right: 5px;
  margin-left: 5px;
  background-color: beige;
  padding: 10px auto 5px auto;
}

.box-2 {
  flex: 1;
  background-color: beige;
  margin-top: 10px;
  margin-right: 5px;
  margin-left: 5px;
  font-family: "Hind Siliguri", sans-serif;
}

.loading-message {
  font-family: "Tangerine", cursive;
  color: darkslategray;
  font-size: 40px;
}

.title {
  font-size: 30px;
}

/* FOOTER */
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  align-items: center;
  height: 60px;
  line-height: 20px;
  background-image: linear-gradient(#ffef82, #efd345);
  font-size: 15px;
  font-family: "Hind Siliguri", sans-serif;
}
